html {
	height: 100%;
}

body {
	--black-150: #c8ccd0;
	--yellow-050: #fdf7e3;
	--fc-dark: #0c0d0e;
	--fc-light: #6a737c;	
	--fc-medium: #3c4146;
	font-family: "EB Garamond", "Helvetica-Neue", Helvetica, sans-serif;
	color: var(--fc-dark);
	font-size: 17pt;
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: white;
/* 	background-color: #484819;  	
 */}

p#intro {
	font-size: 19pt;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul li {
	padding-bottom: 18px;
	padding-top: 18px;
	padding-left: 50px;
	padding-right: 50px;
}

ul li.bg {
	border-bottom: 1pt dotted var(--black-150);
	border-top: 1pt dotted var(--black-150);
	background-color: var(--yellow-050);
}

div#links {
	float: right;
	display: inline;
	padding: 0px;
	margin: 0px;
}

a:link, a:visited {
	color: #0059bd;
	text-decoration: none;
}

a:hover {
	color: #0b7eff;
	text-decoration: none;
}

div#naviinside a {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14pt;
	color: var(--fc-dark);
}

div#naviinside a:hover {
	color: var(--fc-light); 
}


a:link.button, a:visited.button {
	color: #7e387e;
}
 
a:hover.button {
	color: #b151b1;
}

div.info {
	color: var(--fc-medium);
	display: block;
}

img.social {
	height: 25px;
	margin-bottom: -5px;
	margin-left: 25px;
}

img.social2 {
	height: 25px;
	margin-bottom: -5px;
	margin-left: 5px;
}

p.timeloc  {
	font-family: Helvetica, "Helvetica Neue", sans-serif;
	color: var(--fc-medium);
	font-size: 11pt;
	display: inline;
}

div#navi {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: ;
}

div#navicontainer {
	position: fixed;
	left, top, right: 0px;
	width: 100%;
	min-height: 60px;
	line-height: 60px;
	background-color: white;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
	background: white;
}

div#naviinside {
	padding-left: 50px;
	padding-right: 50px;
}


div.container {
	max-width: 1100px;
	padding-top: 75px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: white;
}

div#outer {
	/* box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75); */
	max-width: 1100px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 70px;
}

h1, h2, h3 {
	font-weight: normal;
}

p.nolink {
	color: #0059bd;
	display: inline;
}

div.titel_and_buttons {
	color: var(--fc-medium);
	display: inline-block;
	width: 100%;
}

div.left {
	display: inline-block;
	float: left;
}

div.right {
	display: inline-block;
	float: right;
}

h2 {
	font-size: 22pt;
}

img#self {
	float: right;
	border-radius: 10px;
	margin-left: 25px;
	margin-bottom: 25px;
	height: 190px;
}

div#overview {
	height: 100%;
	background-color: white;
}

div#awards {
	padding-bottom: 100%;
}

.menu-btn, .menu-icon, .nav-icon {
	display: none;
}

p.space {
	display: inline;
}


@media only screen and (max-width: 600px) {
	div#links {
		display: none;
		float: left;
	}

	body {
		font-size: 16pt;
	}
	p#intro {
		font-size: 18pt;
	}

	p.space {
		display: none;
	}

	ul li {
		padding-bottom: 17px;
		padding-top: 17px;
		padding-left: 22px;
		padding-right: 22px;
	}

	div#naviinside {
		padding-left: 20px;
		padding-right: 20px;
	}

	div.container {
		max-width: 1100px;
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0px;
		background-color: white;
	}
	
	img#self {
		float: right;
		border-radius: 10px;
		margin-left: 20px;	
		margin-bottom: 20px;
		height: 190px;
	}

	.menu-btn, .menu-icon, .nav-icon {
		float: right;
	}
  
	.top-lbl {
		display: block;
		padding-right: 20px;
		border-top: 1pt dotted var(--black-150);
		padding-left: 22px;
  	}

	a.top {
		display: block;
		padding-right: 20px;
		border-top: 1pt dotted var(--black-150);
		padding-left: 22px;
  	}

	a.top#topentry {
		border-top: 1pt solid var(--black-150);
	}

  	.menu-icon {
		float: right;
		cursor: pointer;
		display: block;
		padding-top: 28px;
		padding-left: 20px;
		padding-bottom: 20px;
		user-select: none;
  	}
  
	.menu-icon .nav-icon {
		background:  var(--fc-dark);
		display: block;
		height: 2px;
		position: relative;
		transition: background .2s ease-out;
		width: 18px;
  	}
  
	.menu-icon .nav-icon:before,
	.menu-icon .nav-icon:after {
		background: #333;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all .1s ease-out;
		width: 100%;
  	}
  
  	.menu-icon .nav-icon:before {
		top: 5px;
  	}
  
  	.menu-icon .nav-icon:after {
		top: -5px;
  	}

	img.social {
		height: 25px;
		margin-bottom: -5px;
		margin-left: 0px;

	}
  

	.menu-btn {
		display: none;
 	 }
  

  	.menu-btn:checked ~ div#links {
		display: block;
		width: 100%;
	}
	
  	.menu-btn:checked ~ .menu-icon .nav-icon {
		background: transparent;
  	}
  
  	.menu-btn:checked ~ .menu-icon .nav-icon:before {
		transform: rotate(-45deg);
		top:0;
  	}
  
  	.menu-btn:checked ~ .menu-icon .nav-icon:after {
		transform: rotate(45deg);
		top:0;
  	}

	#publications:target  ~ div#links {
		display: none;
	}

	}