html {
	height: 100%;
}

body {
	--black-150: #c8ccd0;
	--yellow-050: #fdf7e3;
	--fc-dark: #0c0d0e;
	--fc-light: #6a737c;	
	--fc-medium: #3c4146;
	font-family: "EB Garamond", "Helvetica-Neue", Helvetica, sans-serif;
	color: var(--fc-dark);
	font-size: 17pt;
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: #484819;  	
}

p#intro {
	font-size: 19pt;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}



ul li {
	padding-bottom: 18px;
	padding-top: 18px;
	padding-left: 50px;
	padding-right: 50px;
}

ul li.bg {
	border-bottom: 1pt dotted var(--black-150);
	border-top: 1pt dotted var(--black-150);
	background-color: var(--yellow-050);
}

p.links {
	float: right;
	vertical-align: center;
	display: inline;
	padding: 0px;
	margin: 0px;
}

a:link, a:visited {
	color: #0059bd;
	text-decoration: none;
}

a:hover {
	color: #0b7eff;
	text-decoration: none;
}

a:link.top, a:visited.top {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14pt;
	color: var(--fc-dark);
}

a:hover.top {
	color: var(--fc-light); 
}

a#name:link, a#name:visited {
	font-family: "Helvetica Neue", sans-serif;
	margin-left: 0px;
	font-size: 12pt;
	color: var(--fc-dark);
}

a#name:hover {
	color: var(--fc-light);
}


a:link.button, a:visited.button {
	color: #7e387e;
}
 
a:hover.button {
	color: #b151b1;
}

div.info {
	color: var(--fc-medium);
	display: block;
}

img#linkedin {
	height: 25px;
	margin-bottom: -5px;
	margin-left: 25px;
}



p.timeloc  {
	font-family: Helvetica, "Helvetica Neue", sans-serif;
	color: var(--fc-medium);
	font-size: 11pt;
	display: inline;
}

div#navi {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}



div#navicontainer {
	position: fixed;
	left, top, right: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: white;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

div#naviinside {
	padding-left: 50px;
	padding-right: 50px;
}


div.container {
	max-width: 1100px;
	padding-top: 75px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: white;
}



div#outer {
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
	max-width: 1100px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	font-weight: normal;
}

p.nolink {
	color: #0059bd;
	display: inline;
}

div.titel_and_buttons {
	color: var(--fc-medium);
	display: inline-block;
	width: 100%;
}

div.left {
	display: inline-block;
	float: left;
}

div.right {
	display: inline-block;
	float: right;
}

img#self {
	float: right;
	border-radius: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	height: 190px;
}

div#overview {
	height: 100%;
	background-color: white;
}

div#awards {
	padding-bottom: 100%;
}

@media only screen and (max-width: 600px) {
	p#intro {
		font-size: 16pt;
	}

	ul li {
		padding-bottom: 15px;
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	div#naviinside {
		padding-left: 20px;
		padding-right: 20px;
	}

	div.container {
		max-width: 1100px;
		padding-top: 35px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: white;
	}
}